<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="nav-link" href="#">
            <img src="../../assets/img/user.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
            First-project
        </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" [routerLink]="['/Hello']">Hello</a>
            <a class="nav-link" [routerLink]="['/Todos']">Todos</a>
            <a class="nav-link" [routerLink]="['/Forms']">Forms</a>
        </div>
    </div>
    </div>
</nav>
