.header {
    min-height: 50px;
    padding: 10px;
    text-align: center;
    color: #fff;
    background-color: rgb(108, 117, 125);
    font-size: 30px;
}
.btn {
    width: fit-content;
    display: block;
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.buttons {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listSection {
    padding: 10px;
    border: 1px dotted rgb(108, 117, 125);
}
input {
    margin-bottom: 10px;
}