<div class="container">
  <div class="row">
    <div class="col">
      <div class="header">
        <div class="header_input">
          <input required name="name" type="text" class="form-control" (keyup.enter)="onKeyUp($event)">
          <label for="name" class="header_label">Your name</label>
        </div>
        <div class="header_input">
          <input name="teacher" type="text" class="form-control" [(ngModel)]="nameTeacher">
          <label for="teacher" class="header_label">Teacher's name</label>
        </div>
        
        <h1 class="header_title">Hello 
          <span *ngIf="condition">{{ name | titlecase }}</span>
          <span *ngIf="!condition">{{ nameTeacher | titlecase }}</span>
        </h1>
      </div>
      <button (click)="toggle()" class="btn btn-outline-secondary">Поздароваться с учителем</button>

      
      <app-list></app-list>
    </div>
  </div>
</div>