<div class="container">
  <div class="row">
    <div class="col">
      <div class="header">
        <input type="text" class="form-control" placeholder="Your name" (keyup.enter)="onKeyUp($event)">
        <input type="text" class="form-control" [(ngModel)]="nameTeacher">
        <h1>Hello 
          <span *ngIf="condition">{{name}}</span>
          <span *ngIf="!condition">{{nameTeacher}}</span>
        </h1>
      </div>
      <button (click)="toggle()" class="btn btn-outline-secondary">Поздароваться с учителем</button>

      
      <div class="listSection">
        <h2>Список дел:</h2>
        <ol id="list1" class="list">
          <li *ngFor="let item of todos">{{item}}</li>
        </ol>
      </div>
    </div>
  </div>
</div>